body {
    background-image: url("../src/bg.png")
}

#main_area {
    margin-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-width: 0;
    border-color: rgb(106, 106, 106);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

#main_area > .banner {
    background-color: #6a6a6a;
}

#main_area .has_choosed {
    background-color: #a3acb5;
}

#main_area .choosed {
    background-color: #2e85d1;
}

.footer {
    padding: 20px;
    text-align: center;
}

.form-horizontal{
    padding: 40px;
}

.form-horizontal .heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.alert {
    margin: 10px;
}

.hide {
    display: none;
}

table {
    margin-top: 10px;
}
